@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");

/*base-reset, font and colors*/

:root {
  --main-black: rgb(0, 0, 0);
  --main-white: rgb(255, 255, 255);
  --main-red: rgb(191, 10, 48);
  --main-blue: rgb(0, 40, 104);
  --main-grey: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

@media (max-width: 1200px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 5.8px;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 4px;
  }
}

/*base styles*/

body {
  font-family: "raleway", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--main-black);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: "Marck Script", sans-serif;
  color: var(--main-white);
}

h2 {
  font-size: 5rem;
  font-family: "Marck Script", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

img {
  max-height: 100vh;
  width: auto;
}

.btn {
  padding: 10 20px;
  height: 40px;
  font-size: 1em;
  border: 2px var(--main-black) solid;
  border-radius: 2px;
  cursor: pointer;
}

.fill-in-blank {
  max-width: 350px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 2px;
}

/*nav*/

.nav {
  background-color: var(--main-red);
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 2px var(--main-black);
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .nav {
    position: relative;
  }
}

.nav > ul {
  display: flex;
  font-family: "Marck Script", sans-serif;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .nav > ul {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 100%;
  }
}

.nav-list a {
  display: block;
  padding: 2.5rem;
  font-size: 4.5rem;
  color: var(--main-white);
}

.nav-list a:hover {
  background-color: var(--main-blue);
}

#roseicon {
  max-height: 6.7rem;
}

/*welcome-section*/

.welcome {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.welcome .grid {
  display: flex;
}

.title {
  position: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-grey);
  background-image: linear-gradient(var(--main-blue) 0%, var(--main-grey) 100%);
  height: 100vh;
  width: 40vw;
}

#welcome > img {
  z-index: 1;
  border-radius: 0px;
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 6.7rem;
  height: 70vh;
}

.email {
  display: flex;
  position: absolute;
  z-index: 9;
  left: 10px;
  bottom: 10px;
  width: 40vw;
  align-items: center;
}

@media (max-width: 1200px) {
  .title {
    width: 35vw;
  }
}

@media (max-width: 600px) {
  .email {
    text-align: center;
    align-items: stretch;
    width: 100vw;
  }
}

/*topics-section*/

.topics {
  text-align: center;
  padding: 12rem 3rem 0 3rem;
  background-color: var(--main-blue);
}

.topics-header {
  max-width: 640px;
  margin: 0 auto 8rem auto;
  border: 3px dashed var(--main-blue);
}

@media (max-width: 460px) {
  .topics {
    padding: 8rem 1rem 0rem 1rem;
  }
}

/*rsvp-section*/

/*footer*/

footer {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  padding-top: 6rem;
  background-color: var(--main-blue);
  border-top: 4px solid var(--main-red);
  font-size: 2rem;
}
